:root {
    --bg-color: #FAFBFD;
    --primary-color: #FFFFFF;
    --border-color: #D0D9E7;
}

html {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html {
    height: 100%;
}

body {

    display: flex;
    background-color: var(--bg-color);
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

li {
    list-style: none;
}
.button-style {
    border: 1px solid;
    border-color: var(--border-color);
    padding: 0.3rem 16px 0.3rem 16px;
    font-weight: 600;
    cursor: pointer;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 14px;
    text-align: left;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: white;
    color: black;
    text-align: center;
    font-weight: 500;
}

tr:nth-child(even) {
    background-color: #f3f3f3;
}

tr:hover {
    background-color: #f1f1f1;
}

td {
    text-align: center;
}
/*SIDEBAR*/
#sidebar {
    border-right: solid 1px var(--border-color);
    min-width: 280px;
    width: 280px;
    background-color: var(--bg-color);
    transition: transform 0.5s ease;
}

    #sidebar.sidebar-close {
        transform: translateX(-100%);
    }

    #sidebar .sidebar-open {
        transform: translateX(0);
    }
    #sidebar ul{
        padding:0;
    }
    #sidebar ul li{
        margin:4px 0;
    }
    #sidebar ul li a {
        height:40px;
        display: flex;
        align-items:center;
        width: 100%;
    }
    #sidebar ul li a i{
        font-size: 1.2rem;
        margin-left: 10px;
        width:35px;
    }

#sidebar-toggle {
    z-index: 11;
}

.sidebar-top {
    height: 64px;
    display: flex;
    align-items: center;
    margin: 10px 32px 10px 32px;
}

    .sidebar-top .logo {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }

    .sidebar-top .application-name {
        display: flex;
        text-align: center;
    }
/*CONTENT*/
#content {
    flex-grow: 1;
}
/*TOPBAR*/
#top-bar{
    height: 80px;
    padding: 0 32px;
    margin-bottom:15px;
}
.breadcumbs-route ol{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
    .breadcumbs-route ol li {
        margin-right: 7px;
        
    }
    .breadcumbs-route ol li::after {
        content: "/"
    }
        .breadcumbs-route ol li:last-child::after {
            content: ""
        }
.breadcumbs-route a {
    text-decoration: none;
    color: inherit;
    outline: none;
    color: black !important;
}
.breadcumbs-route {
    margin-bottom: 3px;
}
/*REGISTER / LOGIN*/
.login-modal{
    width:400px;
    margin:auto;
    padding-top: 30px;
}
/*FORM*/
.section {
    background-color: var(--primary-color);
    margin: 10px 32px 10px 32px;
    padding: 15px 15px 15px 15px;
    border: var(--border-color) solid 1px;
}
.form-buttons-list {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
/*TABLLE*/
.table{
    height: 500px;
    overflow-y: scroll;
}
